/__pycache__
flask_session/2029240f6d1128be89ddc32729463129

.vscode/settings.json
test/__pycache__/test_classes.cpython-38-pytest-7.1.2.pyc
helpers/__pycache__/myFuncs.cpython-38.pyc
helpers/__pycache__/student.cpython-38.pyc
