{% extends "layout.html" %}

{% block link %}
<script type="module">
    import { form_validatation, change_spec } from "../static/javascript/module.js";
    // Update Grades Values while choosing
    var grade = document.getElementById("grade");
    var grade_value = grade.options[grade.selectedIndex].value
    change_spec(grade_value);
    grade.addEventListener("change", function () {
        grade_value = grade.options[grade.selectedIndex].value;
        change_spec(grade_value);
    })        
</script>
{% endblock %}

{% block title %} تعديل {% endblock %}

{% block main %}
<div id="form">
    <h3>ادخل السنة الدراسية والتخصص</h3>
    <form action="/edit" method="post">
        <div class="mb-3">
            <label for="grade" class="form-label">السنة الدراسية</label>
            <div class="select_container">
                <select id="grade" class="custom-select" name="grade" required>
                    <option value="" selected disabled hidden>اختر السنة الدراسية</option>
                    <option value="1">الصف الثاني الثانوي</option>
                    <option value="2">الصف الثالث الثانوي</option>
                </select>
                <div class="valid-feedback">صحيح!</div>
                <div class="invalid-feedback">يجب اختيار السنة الدراسية!</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="specialization" class="form-label">التخصص</label>
            <div class="select_container">
                <select id="specialization" class="custom-select" name="specialization" required>
                    <option selected disabled hidden>اختر السنة الدراسية اولا</option>
                </select>
                <div class="valid-feedback">صحيح!</div>
                <div class="invalid-feedback">يجب اختيار التخصص!</div>
            </div class="select_container">
        </div>
        <div class="btn_container">
            <button type="submit" class="btn">سجل بياناتك</button>
        </div>
    </form>
</div>

{% endblock%}