{% extends "layout.html" %}

{% block link %}
<link href="static/css/profile.css" rel="stylesheet">
{% endblock link %}

{% block main %}

<h1>بيانات الطالب</h1>

<div id="data-container" class="themed-grid-col  rounded-3 border shadow-lg">
    <div>
        <p>الأسم:</p>

        <p>الرقم القومي:</p>
        
        <p>السنة الدراسية:</p>
        
        <p>التخصص:</p>    
    </div>
    <!-- Data is all passed from the database except the national id which -->
    <!-- is stored as a hashed string in the database for maximum user safety -->
    <div id="vals">
        <p>{{name}}</p>
        <p>{{session["national_id"]}}</p>
        <p>{{grade}}</p>
        <p>{{specialization}}</p>
    </div>
</div>

<div class="d-grid mx-auto">
    <a href="/edit"><button type="button" class="btn btn-lg">تعديل بيانات الطالب</button> </a> 
</div>

{% if msg %}
    <div class="modal fade" id="output">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="output-modal-label">النتيجة </h2>
                    <a type="button" class="close nav-link" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>{{ msg }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        new bootstrap.Modal(document.getElementById("output"), {}).show();
    </script>
{% endif %}

{% endblock %}