.accordion {
    width: 80%;
    --bs-accordion-border-color: #c69a16;
}



/* The Button While not Collapsed */
.accordion-button:not(.collapsed) {
    color: black;
    background-color: #c69a16;
}
/* The Button While being collapsed */
.accordion-button:not(.collapsed)::after
{
    background-image: var(--bs-accordion-btn-icon);;
}
/* General Accordion button */
.accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}