html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

main, header{
    background-color: #f1f1f1;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
}
/** Navigation Bar **/
#logo {
    max-width: 86px;
    height: auto;
}
.nav-link {
    color: black;
    font-weight: bold;
    --bs-link-color: #C09200;
    --bs-link-hover-color: #C09200;
}
.nav-link:hover {
    color: #C09200;
    border-bottom: 3px solid #C09200;
}
li > a {
    margin-left: 20px;
    margin-right: 20px;
}
/** Main Body **/
h1 {
    text-align: center;
}
/** Register Page **/
#form {
    display: flex;
    direction: rtl;
    flex-direction: column;
    margin: auto;
    margin-bottom: 25%;
    width: auto;
}