{% extends "layout.html" %}

{% block title %} الصفحة الرئيسية {% endblock %}

{% block link %} <link rel="stylesheet" href="static/css/index.css"> {% endblock %}
{% block main %}
<div class="navigation list-group">
    <a class="list-group-item list-group-item-action" href="#idea">فكرة المشروع</a>
    <a class="list-group-item list-group-item-action" href="#goals">اهداف المشروع</a>
    <a class="list-group-item list-group-item-action" href="#tech">البرمجيات المستخدمة</a>  
    <a class="list-group-item list-group-item-action" href="#other">ملاحظات اخري</a>
</div>


<section id="idea" class="slide">
    <h1>فكرة المشروع</h1>
</section>

<section id="goals">
    <h1>اهداف المشروع</h1>
</section>

<section id="tech">
    <h1>البرمجيات المستخدمة</h1>
    <br>
</section>

<section id="other">
    <h1>ملاحظات اخري</h1>
    <br>
</section>
{% endblock%}
