<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <link rel="icon" type="image/png" href="static/images/fav.png">    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>تخصص الثانوية | {% block title %}صفحة{% endblock %}</title>
    <!-- External Imports -->
    <link href="static/dependancies/font.css" rel="stylesheet">
    <link href="static/dependancies/bootstrap.css" rel="stylesheet">
    <script src="static/dependancies/bootstrap.js"></script>

    <!-- My Imports -->
    <!-- Rest of them are in the bottom of the file -->
    <link href="static/css/layout.css" rel="stylesheet">

  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md" id="nav">
            <div class="container-fluid">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        {% if session["name"] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">اهلا {{session["name"]}}</a>
                        </li> 
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">سجل بياناتك</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">عدل بياناتك</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="/">
                        <img src="./static/images/logo.png" id="logo" alt="Ministry Of Education's Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/help">تريد مساعدة؟</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% if session["name"] %}
                            <!-- Button trigger logging out modal -->
                            <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#logout-modal">
                                تسجيل الخروج
                            </button>
                            <div class="modal fade" id="logout-modal">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">هل تريد تسجيل الخروج؟</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                      يمكنك العودة وتعديل بياناتك في اي وقت باستخدام الرقم القومي والباسورد.
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal">اغلاق</button>
                                    <form action="/logout" method="post">
                                      <input type="hidden" value="{{session['id']}}">
                                      <button type="submit" class="btn" id="logout">تسجيل الخروج</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="">{% block main %}{% endblock %}</main>

    <footer class="border-top">
      Made By Mohamed Hassan
    </footer>

    <!-- My Own Imports -->
    {% block link %}{% endblock %}
  </body>
</html>
