{% extends "layout.html" %}


{% block link %}
<script type="module" src="static/javascript/login.js"></script>
{% endblock %}

{% block title %} تسجيل الدخول {% endblock %}

{% block main %}
<div id="form">
    <h3>ادخل بياناتك</h3>
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3 form-group">
            <label for="name" class="form-label">الاسم الثلاثي</label>
            <input id="name" type="text" class="form-control" name="name" placeholder="مثال: محمد حسن محمد" required
                pattern=" *[\u0621-\u064A\u0660-\u0669]+ +[\u0621-\u064A\u0660-\u0669]+ +[\u0621-\u064A\u0660-\u0669]+ *">
            <div class="valid-feedback">صحيح!</div>
            <div class="invalid-feedback">أكتب الاسم ثلاثي باللغة العربية كما هو مكتوب علي البطاقة.</div>
        </div>
        <div class="mb-3 form-group">
            <label for="national_id" class="form-label">الرقم القومي</label>
            <input id="national_id" type="text" class="form-control" name="national_id" required
                pattern="^(?:2|3)\d{2}(?:0[1-9]|1[012])(?:0[1-9]|[12][0-9]|3[01])\d{7}$"
                placeholder="أدخل الرقم القومي">
            <div class="valid-feedback">صحيح!</div>
            <div class="invalid-feedback">أكتب الرقم القومي الصحيح.</div>
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="form-label">كلمة المرور</label>
            <input id="password" type="password" class="form-control" name="password" required
                placeholder="أدخل الباسورد" pattern="(?=.*[0-9])(?=.*[a-z]).{8,32}">
            <div class="valid-feedback">صحيح!</div>
            <div class="invalid-feedback">كلمة المرور يجب ان تكون 8 احرف علي الاقل ويجب ان تحتوي علي رقم واحد علي الاقل.
            </div>
        </div>
        <div class="btn_container">
            <button type="submit" class="btn">تسجيل الدخول</button>
        </div>
    </form>
</div>
<p>لم تسجل من قبل؟ سجل من <a href="/register">هنا</a></p>
{% endblock %}